<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088594429705-v9871ifs1thctbcashadjfnk4bi79io3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088594429705-v9871ifs1thctbcashadjfnk4bi79io3</string>
	<key>API_KEY</key>
	<string>AIzaSyD0YuOCqWAMMW8_9IM9IEvSzIabh1BAX9M</string>
	<key>GCM_SENDER_ID</key>
	<string>1088594429705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tccfacul</string>
	<key>PROJECT_ID</key>
	<string>tccmentoria-11d4a</string>
	<key>STORAGE_BUCKET</key>
	<string>tccmentoria-11d4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088594429705:ios:d42ee8f19f6b2c246335d8</string>
</dict>
</plist>